# Firebase Web App Config
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=abb-community-prod.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=abb-community-prod
VITE_FIREBASE_STORAGE_BUCKET=abb-community-prod.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id
VITE_FIREBASE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key_for_app_check

# Optional Emulator Flag (set to 'true' for local emulator testing)
VITE_USE_FIREBASE_EMULATOR=false
